@import "./base.css";

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h2 {
  margin: 8px 0;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: #232323;
}

ul {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  border: none;
  padding: 8px;
  line-height: 1.5;
  font-family: "Noto Sans JP";
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: #7d7d7d;
}

input[type="file"],
input[type="radio"] {
  display: none;
}

.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  justify-content: space-between;
}

.start {
  justify-content:flex-start;
}

.space-b {
  justify-content: space-between;
}

.inline {
  display: inline-block;
}

.text-g {
  color: #7d7d7d;
}

#homeView {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainArea {
  height: 100vh;
  overflow: hidden;
}

#mainArea,
#myBooksArea {
  width: calc(100% - 18%);
  padding: 0 2rem;
  background-color: #F5F5F5;

}

#asideArea {
  width: 18%;
  height: 100vh;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 0 20px #7d7d7d;
}

#myBooksArea {
  min-height: 100vh;
}

.title {
  padding: 2rem 0;
  align-items: start;
}

.labelRating span {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.labelRating span::before {
  content: "★";
  display: inline-block;
  color: #d9d9d9;
}

.labelRating span.selected::before {
  color: #ffb834;
}

.searchBar {
  display: block;
  position: relative;
  width: 100%;
}
.searchBar input {
  width: 100%;
  background-color: #dfdfdf;
  padding: 8px 2.5rem;
  border-radius: 22px;
  line-height: 1.75;
}

.avator-icon {
  width: 54px;
  height: 54px;
  margin-left: 2rem;
  border-radius: 999px;
  background-color: #dfdfdf;
  cursor: pointer;
}

.icon-search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: .75rem;
}

.icon-cancel_search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  cursor: pointer;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
  }
}
